<p>probleme works!</p>
<br/>
<div class="container">
<div class="card-body">
    <h5 class="card-title">Veuille renseigner et soumettre votre demande</h5>
        <div class="card-text">
          <form class="form-horizontal"
          novalidate
          (ngSubmit)="save()"
          [formGroup]="problemeForm">
          <div class="form-group row">          
            <label for="prenomId" class="col-md-2 col-form-label text-right">Prénom :</label>
            <div class="col-md-10">
              <input class="form-control" 
              id="prenomId" 
              type="text" 
              placeholder="Votre prénom ici (obligatoire)" 
              formControlName="prenom"            
              [ngClass]="{'is-valid': (problemeForm.get('prenom').touched || 
              problemeForm.get('prenom').dirty) &&
              problemeForm.get('prenom').valid,
              'is-invalid': (problemeForm.get('prenom').touched || 
              problemeForm.get('prenom').dirty) &&
              !problemeForm.get('prenom').valid}"
              />
              <span class="form-text" *ngIf="(problemeForm.get('prenom').touched ||
                problemeForm.get('prenom').dirty) &&
                (problemeForm.get('prenom').errors)">
             <span *ngIf=" problemeForm.get('prenom').errors['required']">
                <small class="text-muted">
                    Merci de saisir votre prénom.
                </small>
            </span>
            <span *ngIf="problemeForm.get('prenom').errors['nbreCaracteresInsuffisant']">
                <small class="text-muted">
                    Veuillez entrer plus de caractères.
                </small>
    </span>
</span> 
            </div>
          </div>
          <div class="form-group row">          
            <label for="nomId" class="col-md-2 col-form-label text-right">Nom :</label>
            <div class="col-md-10">
              <input class="form-control" 
              id="nomId" 
              type="text" 
              placeholder="Votre nom ici (obligatoire)" 
              formControlName="nom"  
              />
            </div>
          </div>
          <!-- Zone de liste déroulante TYPE DE PROBLÈME -->
<div class="form-group row">
  <label for="noTypeProblemeId" class="col-md-2 col-form-label text-right">Type de problème :</label>
  <div class="col-md-10">
  <select class="form-control"
  id="noTypeProblemeId"
  formControlName="noTypeProbleme"
  [ngClass]="{'is-valid': (problemeForm.get('noTypeProbleme').touched || 
  problemeForm.get('noTypeProbleme').dirty) &&
  problemeForm.get('noTypeProbleme').valid,
  'is-invalid': (problemeForm.get('noTypeProbleme').touched || 
  problemeForm.get('noTypeProbleme').dirty) &&
  !problemeForm.get('noTypeProbleme').valid}"

  >

  <option value="">Sélectionner un type de problème (obligatoire) ...</option>
  <option *ngFor="let tp of typesproblemeProbleme" [value]="tp.id">{{tp.descriptionTypeProbleme}}</option>
  </select>
  <span class="form-text" *ngIf="(problemeForm.get('noTypeProbleme').touched ||
  problemeForm.get('noTypeProbleme').dirty) &&
  problemeForm.get('noTypeProbleme').errors">
  <span *ngIf="problemeForm.get('noTypeProbleme').errors['required']">
  <small class="text-muted">
  Merci de sélectionner un type de problème.
  </small>
  </span>
  </span>
  </div>
  </div>
        
        <!-- Zone bouton radio NOTIFIEZ MOI POUR LE STATUT DE MA DEMANDE -->
  
  <div class="form-group row">
  
    <div class="col-md-2"></div>
    
    <label for="notificationId" class="col-md-10 col-form-label">Notifiez-moi pour le statut de ma demande :</label>
    
    <div class="col-md-2"></div>
    
    <div class="col-md-10">
    
    <label class="radio-inline">
    
    <input type="radio"
    
    value="pasnotification"
    
    id="NotifiezMoiId"
    
    formControlName = "notification">&nbsp;Ne pas me notifier
    
    </label>
    
    &nbsp;&nbsp;&nbsp;
    
    <label class="radio-inline">
    
    <input type="radio"
    
    value="courriel"
    
    id="NotifiezMoiId"
    
    formControlName = "notification">&nbsp;Par courriel
    
    </label>
    
    &nbsp;&nbsp;&nbsp;
    
    <label class="radio-inline">
    
    <input type="radio"
    
    value="messageTexte"
    
    id="NotifiezMoiId"
    
    formControlName = "notification">&nbsp;Par message texte
    
    </label>
    
    </div>
    
    </div>
    
    <br>
  
      <!-- Zone de texte TÉLÉPHONE (SMS) -->
      <div class="form-group row">          
        <label for="telephoneId" class="col-md-2 col-form-label text-right">Téléphone (SMS) :</label>
        <div class="col-md-10">
          <input class="form-control" 
          id="telephoneId" 
          type="text" 
          placeholder="Entrez 10 chiffres seulement.  Par exemple 5141118888" 
          formControlName="telephone" 
          [ngClass]="{'is-valid': (problemeForm.get('telephone').touched || 
          problemeForm.get('telephone').dirty) &&
          problemeForm.get('telephone').valid , 'is-invalid': (problemeForm.get('telephone').touched || 
          problemeForm.get('telephone').dirty) &&
          !problemeForm.get('telephone').valid }" />
  
          <span class="form-text" *ngIf="(problemeForm.get('telephone').touched || 
          problemeForm.get('telephone').dirty) && 
          (problemeForm.get('telephone').errors ||
          problemeForm.get('telephone').errors)">
            <span *ngIf="problemeForm.get('telephone').errors?.['required']">
                <small  class="text-muted">
                    Merci de saisir votre numéro de téléphone.
                </small>
            </span>                         
            <span *ngIf="problemeForm.get('telephone').errors?.['minlength']">
              <small  class="text-muted">                  
                  Veuillez entrer plus de caractères.
              </small>
            </span>
            <span *ngIf="problemeForm.get('telephone').errors?.['maxlength']">
              <small  class="text-muted">                  
                  Veuillez entrer moins de caractères.
              </small>
            </span>                
            <span *ngIf="problemeForm.get('telephone').errors?.['pattern']">
                <small  class="text-muted">                                            
                    Merci d'entrer seulement des chiffres.
                </small>
            </span> 
          </span>
        </div>
      </div>
  
      <br> 
  
      <!-- Zone de texte COURRIEL -->          
      <div class="form-group row">                  
          <label for="courrielId" class="col-md-2 col-form-label text-right">Adresse courriel :</label>
        <!-- Indiquer le formGroupName pour avoir accès à formControlName -->              
        <div class="col-md-10" formGroupName="courrielGroup">
            <input class="form-control" 
            id="courrielId" 
            type="email" 
            placeholder="Courriel (obligatoire si notification par courriel)" 
            formControlName = "courriel"
            [ngClass]="{'is-valid': (problemeForm.get('courrielGroup.courriel').touched || 
                        problemeForm.get('courrielGroup.courriel').dirty) &&
                        problemeForm.get('courrielGroup.courriel').valid, 
                        'is-invalid': (problemeForm.get('courrielGroup.courriel').touched || problemeForm.get('courrielGroup.courriel').dirty) &&
                        !problemeForm.get('courrielGroup.courriel').valid }" />
  
            <span class="form-text" *ngIf="(problemeForm.get('courrielGroup.courriel').touched || 
                    problemeForm.get('courrielGroup.courriel').dirty) && 
                    (problemeForm.get('courrielGroup.courriel').errors ||
                    problemeForm.get('courrielGroup').errors)">                                
                <span *ngIf="problemeForm.get('courrielGroup.courriel').errors?.['required']">
                    <small  class="text-muted">                       
                        Merci d'entrer votre adresse électronique.
                    </small>
                </span>                         
                <span *ngIf="problemeForm.get('courrielGroup.courriel').errors?.['pattern']">
                  <small  class="text-muted">                       
                    S.V.P. entrer les informations dans un format valide.
                  </small>
              </span>                     
            </span>                              
          </div>
    </div>
  
  <br> 
  
      <!-- Zone de texte COURRIEL CONFIRMATION -->          
      <div class="form-group row">                  
        <label for="courrielConfirmationId" class="col-md-2 col-form-label text-right">Confirmer courriel :</label>
      <!-- Indiquer le formGroupName pour avoir accès à formControlName -->            
      <div class="col-md-10" formGroupName="courrielGroup"> 
          <input class="form-control" 
          id="courrielConfirmationId" 
          type="email" 
          placeholder="Entrez à nouveau le courriel (obligatoire si notification par courriel)" 
          formControlName = "courrielConfirmation"
          [ngClass]="{'is-valid': (problemeForm.get('courrielGroup.courrielConfirmation').touched || 
          problemeForm.get('courrielGroup.courrielConfirmation').dirty) &&
          problemeForm.get('courrielGroup.courrielConfirmation').valid, 
          'is-invalid': (problemeForm.get('courrielGroup.courrielConfirmation').touched || problemeForm.get('courrielGroup.courrielConfirmation').dirty) &&
          !problemeForm.get('courrielGroup.courrielConfirmation').valid || problemeForm.get('courrielGroup').errors?.['match']}" />
  
              <span class="form-text" *ngIf="(problemeForm.get('courrielGroup.courrielConfirmation').touched || 
                      problemeForm.get('courrielGroup.courrielConfirmation').dirty) && 
                      (problemeForm.get('courrielGroup.courrielConfirmation').errors ||
                      problemeForm.get('courrielGroup').errors)">                                
                      <span *ngIf="problemeForm.get('courrielGroup.courrielConfirmation').errors?.['required']">
                          <small  class="text-muted">                            
                              Confirmez votre adresse courriel (la réécrire)
                          </small>
                    </span>
                    <span *ngIf="problemeForm.get('courrielGroup').errors?.['match']">
                        <small  class="text-muted"> 
                            Le courriel de confirmation n'est pas le même que le courriel.  Le corriger.
                        </small>
                    </span>                         
              </span>                              
        </div>
  </div>  
  
  <br>
  
  <!-- Zone de texte # Unité  -->        
  <div class="form-group row">          
    <label for="noUniteId" class="col-md-2 col-form-label text-right"># Unité :</label>
    <div class="col-md-10">
      <input class="form-control" 
      id="noUniteId" 
      type="text" 
      placeholder="Numéro de l'unité si connu" 
      formControlName="noUnite" />
    </div>
  </div>      
  <br>
  <!-- Zone de texte DESCRIPTION DU PROBLÈME  -->        
  <div class="form-group row">          
    <label for="descriptionProblemeId" class="col-md-2 col-form-label text-right">Description du problème :</label>
    <div class="col-md-10">
      <textarea class="form-control" 
      rows="3"              
      id="descriptionProblemeId" 
      type="text" 
      placeholder="Décrire le propblème ici (obligatoire)" 
      formControlName="descriptionProbleme"            
      [ngClass]="{'is-valid': (problemeForm.get('descriptionProbleme').touched || problemeForm.get('descriptionProbleme').dirty) &&
            problemeForm.get('descriptionProbleme').valid, 
            'is-invalid': (problemeForm.get('descriptionProbleme').touched || problemeForm.get('descriptionProbleme').dirty) &&
            !problemeForm.get('descriptionProbleme').valid }"></textarea>
  
      <span class="form-text" *ngIf="(problemeForm.get('descriptionProbleme').touched || 
            problemeForm.get('descriptionProbleme').dirty) && 
            problemeForm.get('descriptionProbleme').errors">
  
            <span *ngIf="problemeForm.get('descriptionProbleme').errors['required']">
                <small  class="text-muted">
                    N'oubliez pas de décrire le plus clairement possible le problème rencontré.
                </small>
            </span> 
  
            <span *ngIf="problemeForm.get('descriptionProbleme').errors['minlength']">
              <small  class="text-muted">
                La description du problème doit comporter plus de 5 caractères.
              </small> 
            </span>       
      </span>
    </div>
  </div>
  
       <!-- DEBUT Zone bouton sauvegarder -->
       <div class="form-group row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <span>                                       
                    <button class="btn btn-primary"
                            type="submit"                              
                            [disabled]="!problemeForm.valid">
                            <i class="fa fa-save"></i>
                      &nbsp;&nbsp;Sauvegarder
                    </button>
            </span>
        </div>
    </div>
    <!-- FIN Zone bouton sauvegarder -->
  </form>
  <!-- FIN du formulaire -->
</div>
</div>
</div>